<h1 class="md-display-2">Willkommen auf der Beispiel Implementierung für interone
    <a href="https://github.com/Braincompiler" target="_blank" class="md-subhead">Christian Seifert</a>
</h1>
<p>
    Die gesamte Anwendung ist mithilfe AngularJS (1.4) entwickelt worden. Der Grundlegende Aufbau für die Entwicklung ist mithilfe
    <a href="https://github.com/angular-class/NG6-starter" target="_blank">NG6-starter</a> realisiert.
</p>
<p>
    Auf der linken Seite sind Links zu ausgewählten Aktienkursen gelistet über die man zur grafischen Ansicht der sogenannten Schlußkurse gelangt. Die grafische
    Darstellung ist mittels <a href="http://d3js.org/" target="_blank">D3js</a> und <a href="http://techanjs.org/" target="_blank">TechanJs</a> umgesetzt. Die
    Daten für die Schlußkurse stammen von <a href="https://www.quandl.com/" target="_blank">Quandl</a>.
</p>
